@import 'src/app/shared/styles/styles.scss';

.course {
  //outline: 1px dotted;
  min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    &-item {
      margin-right: 10px;
    }

    & button {
      width: 30px;
      height: 30px;
      border: none;
      font-size: 25px;;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
